
.main-container {
    height: 100%;
    width: 100%;
}

.form-container {
    
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content:center ;
    align-items: center;
}

.client-pet-form {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    
}

input,span {
    margin-bottom: 10px;
    
}

#modal {
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.8);
    
}

#modal::backdrop {
    background-color: rgba(0,0,0,0.10);
    filter: drop-shadow();
}


