
.main-container {
    height: 100%;
    width: 100%;
}

.form-container {
    
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content:center ;
    align-items: center;
}

.client-pet-form {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    
}

input,span {
    margin-bottom: 10px;
    
}

#modal {
    -webkit-box-shadow: 0px 2px 12px 2px #000000; 
box-shadow: 0px 2px 12px 2px #000000;
    
}

#modal::backdrop {
    background-color: rgba(0,0,0,0.10);
    filter: drop-shadow();
}


