
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.shadow {
    -webkit-box-shadow: 0 13px 7.5px -5.5px #dddddd;
-moz-box-shadow: 0 13px 7.5px -5.5px #dddddd;
box-shadow: 0 13px 7.5px -5.5px #dddddd;
}
/* Estilo para la barra de desplazamiento */
main::-webkit-scrollbar {
    width: 7px; /* Ancho de la barra de desplazamiento */
  }
  
  /* Ocultar las flechas de desplazamiento */
  main::-webkit-scrollbar-button {
    display: none;
  }
  
  /* Estilo para el fondo de la barra de desplazamiento */
  main::-webkit-scrollbar-track {
    background: transparent; /* Hacer el fondo transparente */
  }
  
  /* Estilo para la barra de desplazamiento en sí */
  main::-webkit-scrollbar-thumb {
    background: #7a808a; /* Color de la barra de desplazamiento */
    border-radius: 5px; /* Bordes redondeados */
  }
  
  .custom-radio {
    width: 16px;
    height: 16px;
    background-color: #fff;
    border: 1px solid #d2d6dc;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 5px;
  }
  
  .custom-radio:checked {
    background-color: #eb5b27;
  }

  textarea:focus, input:focus {
    outline-color: #eb5b27;
  }
  
  .fondo:nth-child(odd) {
    background-color: #f8f8f8
  }
  .fondo:nth-child(even) {
    background-color: rgb(255, 255, 255)
  }

  .radio-button input[type="radio"] {
    display: none;
  }
  
  /* Creamos el estilo del botón */
  .radio-button label {
    padding: 5px 20px;
    background-color: #fff;
    color: #eb5b27;
    cursor: pointer;
    border-radius: 5px;
    border: solid 1px;
    border-color: #eb5b27;
  }
  
  /* Cambiamos el color cuando el checkbox está seleccionado */
  .radio-button input[type="radio"]:checked + label {
    background-color: #eb5b27;
    color: white;

  }

  /* input, textarea {
    text-indent: 5px;
    font-size: 14px;
  }
   */

   .sigCanvas{
    background-image: url('/favicon.ico');
    background-repeat: no-repeat;
    background-size: 5rem;
    background-position: bottom left 20px;  
    padding-left: 10px; 
}

label {
  color: #344054;
}